body{
    background-color:#7700ff;
    color:gold
}
a{
    color:darkred
}
.DS{
   
 background:#ff008c;
    color:greenyellow
    
}
.DSI{
    background-color:#00ff91;
    color:orangered
}
.DS3{
    background-color:#ff9d00;
    color:royalblue
}
.DS2{
    background-color:#78b9ff;
    color:hotpink
}
.DS3NEW{
    background-color:#ff2600;
    color:cyan
}
.title{
border-style: solid;
border-color: black;
border-width: 5px;
background-color:snow;
margin-top: auto;
margin-bottom: auto;
margin-left: auto;
margin-right: auto;
    font-size:48px;
    text-align:center
    

}
img{
   display: block;
   margin:0px auto;
    border-color:black;
    border-style:solid;
    border-width: 10px;
    height: 500px;
}
h1, p, ol{
    text-align: center;
}
